.header {
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 100px;
  background-color: #f1d0d0;
  padding: 0 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
}

table{
    margin: 0 120px;
}
.headingColumn{
    display: flex;
    justify-content:space-around;
    height: 40px;
    width:900px;
    background-color: #010b2a;
    padding: 0 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin:20px 50px;
    color: aliceblue;
}
.dataColumn{
    display: flex;
    justify-content:space-around;
    height: 600px;
    width:900px;
    background-color: #dbdbdb;
    padding: 0 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin:20px 50px;

}
